<%= javascript_include_tag "rssReader" %>

<div id="allFeedContent">
    <div id="feedLinks">
        Choose Your Feed:
	<%= render @feeds %>
    </div>

    <div id="feedContent">
        &nbsp;
    </div>
</div>

<%= link_to 'Feed Admin', feeds_admin_path %>