<div id="allFeedContent">

	<div id="feedLinks">
		Choose Your Feed: 
		<% @feeds.each do |feed| %>
			<a> <%= feed.name %> </a>
		<% end %>
	</div>
</div>

<%= link_to 'Feed Admin', feeds_admin_path %>