<div class="topBanner">
	<%= link_to image_tag( "rectBlack.png", :alt => "Change the Name, DC!", :id => "bannerLogo"), :controller => "home"  %>
	<div id="bannerTabs">
		<%= link_to "Team News", feeds_path %>
		<%= link_to "Join", supporters_path %>
	</div>
</div>