// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div #feedLinks{
    a{
        padding-left: 5px;
    }
}

.chooser{
    padding: 5px;
}

.entry
{
    padding-bottom: 5px;
}
