// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div #feedLinks{
    background-color : #FFFFFF;
    color : #00FF00;
    .linkTab{
        padding: 5px;
    }
}
